<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>userhub/models/User.swift</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>query-specification</key>
			<dict>
				<key>query</key>
				<string>text</string>
				<key>scope</key>
				<dict>
					<key>named-scopes</key>
					<array/>
					<key>type</key>
					<string>scope-chooser-compound-scope</string>
					<key>workspace-location-predicates</key>
					<array>
						<dict>
							<key>path-components</key>
							<array>
								<string>userhub.xcodeproj</string>
							</array>
							<key>rule</key>
							<string>workspace-location</string>
						</dict>
					</array>
				</dict>
				<key>term</key>
				<dict>
					<key>text</key>
					<string>Report Navigator</string>
				</dict>
			</dict>
			<key>type</key>
			<string>batch-find-query</string>
		</dict>
		<dict>
			<key>query-specification</key>
			<dict>
				<key>query</key>
				<string>text</string>
				<key>scope</key>
				<dict>
					<key>named-scopes</key>
					<array/>
					<key>type</key>
					<string>scope-chooser-compound-scope</string>
					<key>workspace-location-predicates</key>
					<array>
						<dict>
							<key>path-components</key>
							<array>
								<string>userhub.xcodeproj</string>
							</array>
							<key>rule</key>
							<string>workspace-location</string>
						</dict>
					</array>
				</dict>
				<key>term</key>
				<dict>
					<key>text</key>
					<string>Report Navigator</string>
				</dict>
			</dict>
			<key>type</key>
			<string>batch-find-query</string>
		</dict>
	</array>
</dict>
</plist>
